**/.DS_Store
**.o
**/obj
**/doc
**.pdf
**/**pages
**/**zip
**.pages
**.zip
.pages
.zip

1.Scanning/snuplc/test_scanner
2.Parsing/snuplc/test_parser
2.Parsing/snuplc/test_scanner

2.Parsing/test/**/*.dot
2.Parsing/strangetest/**/*.dot
2.Parsing/helltest/**/*.dot

2.Parsing/result/
